<div class="share-buttons">
	
	{{#each buttons }}
	<a class="post-counter button {{ class }}" data-type="{{ type }}">
		<i class="fa fa-{{ icon }} icon-{{ icon }}"></i>
		<p class="count">
			{{ count }}
		</p>
	</a>
	{{/each}}
	
</div>